*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins',sans-serif;
	box-sizing:border-box;
}

.container{
	width: 100%;
	height:140vh;
	background-color: black;
	background-image:url(background.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}


.form-box{
	width: 90%;
	max-width:450px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background:#73a580;
	padding:50px 60px 70px;
	text-align:center;
}

.form-box h1{
	font-size:30px;
	margin-bottom:60px;
	color:black;
	position:relative;
}

.form-box h1::after{
	content: '';
	width: 30px;
	height: 4px;
	border-radius: 3px;
	background: #3c00a0;
	position: absolute;
	bottom:-12px;
	left:50%;
	transform: translateX(-50%);
}

.input-field{
	background: #eaeaea;
	margin:15px 0;
	display: flex;
	align-items: center;
	max-height: 65px;
	transition: max-height 0.1s;
	overflow: hidden;
}

input{
	width:100%;
	background: transparent;
	border:0;
	outline:0;
	padding:18px 15px;
}


.input-field i{
   margin-left: 15px;
   color:#999;
}

form p{
	text-align:left;
	font-size:14px;
}

form p a{
  text-decoration:none;
  color:#3c00a0;
}

.btn-field{
	width:100%;
	display:flex;
	justify-content: space-between;
}

.btn-field button{
	flex-basis: 48%;
	background: #black;
	color: black;
	height: 40px;
	border-radius: 20px;
	border: 0;
	outline:0;
	cursor:pointer;
	transition:background 1s;
}


/*.input-group {
	height:280px;
}
*/

/* .btn-field button.disable{
	background:orange;
	color:black;
} */